demo/schema/src/main/resources/demoXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:posten.no/ec" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="RootElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Root">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="meldingshode" type="xs:string" />
                            <xs:element name="subscriber" type="xs:string" />
                            <xs:element name="subscriberStatus" type="xs:string" />
                            <xs:element name="itemWeight" type="xs:unsignedByte" />
                            <xs:element name="itemName" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>